# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/

# dataset/*

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de IDEs (VS Code, PyCharm, etc)
.vscode/
.idea/
